
/* main css */
.container{
	width: 100%;
	height: 100%;
}
.wrapper{
	width: 100%;
	height: 100%;
}
.ctn-header{
	padding: 0.125rem 0.15rem;
}
.ctn-header .ctn-title{
	color: #333333;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.25;
	text-align: center;
}
.ctn-header .ctn-title-noindent{
	text-align: left !important;
}
.ctn-header .ctn-tips{
	padding: 0.15rem 0 0 0;
	font-size: 14px;
	color: #555555;
	line-height: 1.25;
	text-align: center;
}
.ctn-header .ctn-tips-noindent{
	text-align: left !important;
}





.ctn-main{
	padding: 0.125rem 0;
}
.ctn-main p{
	width: 100%;
	margin: 0.12rem 0;
	padding: 0 0.10rem 0 0.125rem;
 	color: #555555;
	font-size: 14px;
	text-indent: 2em;
	word-spacing: normal;
    word-break: break-all;
	white-space: unset;
	line-height: 1.6;	
}
.ctn-main p.noindent{
	text-indent: 0 !important;
}
.ctn-main p:first-child{
	margin-top: 0;
}
.ctn-main p:last-child{
	margin-bottom: 0;
}





.ctn-main .ctn-main-distance{
	margin: 0.12rem 0;
	word-spacing: normal;
    word-break: break-all;
	white-space: unset;
}
.ctn-main .ctn-main-ulwrap{
	width: 100%;
	padding: 0 0.10rem 0 0.125rem;
}
.ctn-main ul{
	width: 100%;
	padding-left: 0;
 	color: #555555;
	font-size: 14px;
}
.ctn-main ul.no-distance{
	margin-top: 0;
	margin-bottom: 0;
}
.ctn-main ul li{	
	width: 100%;
	text-indent: 2em;
	line-height: 1.65;
}





.ctn-footer{
	padding: 0.125rem 0;
}
.ctn-footer .ctn-tail{
	margin: 0.10rem 0;
	padding: 0 0.10rem;
	text-align: right;
	font-size: 16px;
	color: #000000;
} 
.ctn-footer .ctn-tail-cp{
	font-size: 14px;
	color: #666666;
}





/* 预定义标记 */
/* tag-link */
/* tag-link-noline */
/* tag-important */
/* tag-underline */
/* ctn-tag-title */
/* ctn-tag-noindent */
.tag-link{
	margin: 0;
	border: 0;
	padding: 0;
	color: #0350cf;
	font-weight: 400;
	text-decoration: underline;
}
.tag-link:hover{
	cursor: pointer;
	text-decoration: underline;
}
.tag-link:active{
	cursor: pointer;
	text-decoration: underline;
}
.tag-link-noline{
	margin: 0;
	border: 0;
	padding: 0;
	color: #479bf5;
	font-weight: 100;
}
.tag-link-noline:hover{
	cursor: pointer;
	text-decoration: underline;
}
.tag-link-noline:active{
	cursor: pointer;
	text-decoration: underline;
}
.tag-important{
	margin: 0;
	border: 0;
	padding: 0;
	font-weight: 900;
	color: #333333;
}
.tag-important-primary{
	margin: 0;
	border: 0;
	padding: 0;
	font-weight: 900;
	color: #035a86;
}
.tag-underline{
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: underline;
}
.ctn-tag-title{
	margin-top: 0.30rem;
	font-size: 16px;
	color: #111111;
	font-weight: bolder;
	line-height: 2.0;
	text-indent: 2.60em;
}
.ctn-tag-title-primary{
	color: #58a4f5;
	border-left: 3px solid #2789f1;
	background-image: linear-gradient(to right, rgba(136, 190, 247, 0.45) 5px, rgba(136, 190, 247, 0.15) );
	line-height: 2.8;
	text-indent: 2.35em;
}
.ctn-tag-noindent{
	text-indent: 0.85em;
}
.ctn-tag-title-primary-noindent{
	text-indent: 1.5em;
}

ul.ulstyle-disc{
	padding-left: 0.18rem;
}
ul.ulstyle-disc li{
	text-indent: 0;
}
ul.ulstyle-disc, ul.ulstyle-disc li{
	list-style-type: disc !important;
	list-style-position: outside;
}
ul.ulstyle-circle{
	padding-left: 0.18rem;
}
ul.ulstyle-circle li{
	text-indent: 0;
}
ul.ulstyle-circle, ul.ulstyle-circle li{
	list-style-type: circle !important;
	list-style-position: outside;
}
ul.ulstyle-square{
	padding-left: 0.18rem;
}
ul.ulstyle-square li{
	text-indent: 0;
}
ul.style-square, ul.ulstyle-square li{
	list-style-type: square !important;
	list-style-position: outside;
}


